
<div class="menu menu-top">
  {% url 'ervinhome:home' as home %}
  {% if home > '' %}
    {% if home == url_here %}
      <div class="menu-item menu-here">
        Home
      </div>
    {% else %}
      <div class="menu-item">
        <a href="{{ home }}">Home</a>
      </div>
    {% endif %}
  {% endif %}
  {% comment %} {% if perms.ervinloads.view_... %} {% endcomment %}
    {% url 'ervinhome:directions' as directions_url %}
    {% if directions_url == url_here %}
      <div class="menu-item menu-here">
        Directions
      </div>
    {% else %}
      <div class="menu-item">
        <a href="{{ directions_url }}">Directions</a>
      </div>
    {% endif %}
  {% comment %} {% endif %} {% endcomment %}
  {% if perms.ervinloads.view_load %}
    {% url 'ervinloads:load-list' as ervinloads_url %}
    {% if ervinloads_url == url_here %}
      <div class="menu-item menu-here">
        Loads
      </div>
    {% else %}
      <div class="menu-item">
        <a href="{{ ervinloads_url }}">Loads</a>
      </div>
    {% endif %}
  {% endif %}
  {% if user.is_staff %}
    <div class='menu-item'>
      <a href="{% url 'admin:app_list' 'ervinloads' %}..">
        Admin
      </a>
    </div>
  {% endif %}
  {% if user.username %}
    {% url 'profile' as profile %}
    <div class="menu-item">
      {% if profile > '' %}
        <a href="{{ profile }}">{{ user }}</a>
      {% else %}
        {{ user.username }}
      {% endif %}
      <a href="{% url 'logout' %}">/ Logout</a>
    </div>
  {% else %}
    <div class="menu-item"><a href="{% url 'login' %}">Login</a></div>
  {% endif %}
</div>
